/*----------------------------------------------------------------------------- 

	-	kenburn slider -

Screen Stylesheet 

version:   	1.0 
date:      	09/18/11 
author:		themepunch
email:     	info@themepunch.com 
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

.tp-simpleresponsive .caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0; 
	position:absolute;
}

/******************************
	-	SHADOWS		-
******************************/

.tp-bannershadow  { 		
		position:absolute;  	
		margin-left:auto;
		margin-right:auto;
		-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
	}
	
.tp-bannershadow.tp-shadow1 {
	background: url(../assets/shadow1.png) no-repeat;
	background-size: 100%; 
	width: 890px;
	height: 30px;
	bottom: -30px;
}

.tp-bannershadow.tp-shadow2 {
	background: url(../assets/shadow2.png) no-repeat;
	background-size: 100%;
	width: 890px;
	height: 60px;
	bottom: -60px;
}

.tp-bannershadow.tp-shadow3 {
	background: url(../assets/shadow3.png) no-repeat;
	background-size: 100%;
	width: 890px;
	height: 60px;
	bottom: -60px;
}

/*************************
	-	CAPTIONS	-
**************************/

.caption.big_black	{
	position: absolute; 
	color: #363432; 
	text-shadow: none; 
	font-weight: 600; 
	font-size: 36px; 
	font-family: 'Open Sans', Arial; 
	margin: 0px; 
	border-style: none;
}

.ie7 .caption.big_black,
.ie8 .caption.big_black {
	line-height: 1.25 !important;
}

.caption.medium_black {
	position: absolute; 
	color: #363432; 
	text-shadow: none; 
	font-weight: 400; 
	font-size: 30px; 
	font-family: 'Open Sans', Arial; 
	margin: 0px; 
}	

.ie7 .caption.medium_black,
.ie8 .caption.medium_black {
	line-height: 1.25 !important;
}

.caption.small_text	{
	position: absolute; 
	color: #fff; 
	font-weight: 400;
	font-size: 16px; 
	font-family: 'Open Sans', Arial; 
	width: 430px;
	white-space: normal !important;
}

.ie9 .caption.small_text {
	line-height: 1.3em !important;
}

.ie7 .caption.small_text,
.ie8 .caption.small_text {
	line-height: 1.25 !important;
}

.caption.medium_text {
	position: absolute;
	padding: 5px 10px;
	color: #f8f6ee; 
	font-weight: 400;
	background-color: #363432;
	font-size: 16px; 
	font-family: 'Open Sans', Arial; 
	line-height: 1.5 !important;
}

.big_yellow_dark_back {
	position: absolute;
	padding: 0 10px;
	background-color: #363432;
	color: #dfd83b;
	font-size: 34px;
	font-family: 'Open Sans', Arial; 
	text-transform: uppercase;
	line-height: 1.25 !important;
}

.big_white_back {
	position: absolute;
	padding: 0 10px;
	background-color: #f8f6ee;
	color: #363432;
	font-size: 34px;
	font-family: 'Open Sans', Arial; 
	text-transform: uppercase;
	line-height: 1.25 !important;
}

.big_dark_back {
	position: absolute;
	padding: 0 10px;
	background-color: #363432;
	color: #fff;
	font-size: 40px;
	font-family: 'Open Sans', Arial; 
	text-transform: uppercase;
	line-height: 1.25 !important;	
}

.very_big_white {
	position: absolute;
	width: 100% !important;
	white-space: nowrap !important;
	color: #fff;
	font-size: 60px;
	text-shadow: 0 0 5px rgba(100,100,100,.7);
	font-weight: 600;
	font-family: 'Open Sans', Arial; 
	text-transform: uppercase;
	line-height: 1em;
}
					
.caption.boxshadow	{
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.medium_white_back {
	position: absolute;
	padding: 0 8px;
	background-color: #363432;
	color: #f8f6ee;
	font-size: 34px;
	font-weight: 600;
	font-family: 'Open Sans', Arial; 
	line-height: 1.25 !important;
}

.medium_dark_back {
	position: absolute;
	padding: 0 8px;
	background-color: #f8f6ee;
	color: #363432;
	font-size: 34px;
	font-weight: 600;
	font-family: 'Open Sans', Arial; 
	line-height: 1.25 !important;
}

.caption.black {color: #000;text-shadow: none;}	
					
.caption.noshadow {text-shadow: none;}	
					
.caption a {
	color: #ff7302;
	text-shadow: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
}			

.caption a:hover { color: #ffa902; }	

.caption.boxshadow {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/
.tp-bullets	{
	z-index:100;
	position:absolute; 
	bottom:10px;
}

.tp-bullets.simplebullets {
	bottom:10px;
}

.tp-bullets.simplebullets.navbar {
	bottom: -20px;
	background: url(../assets/navigdots_bgtile.png);
	height: 35px;
	padding: 0px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:-17px;
}
								
.tp-bullets.simplebullets .bullet {
	cursor:pointer;
	position:relative;
	background:url(../assets/bullets.png) no-Repeat bottom left;
	width:23px;	
	height:23px; 
	margin-right:0px;
	float:left;
	margin-top:-12px;
}		

.tp-bullets.simplebullets .bullet.last	{margin-right:0px;}

/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square .bullet {
	cursor:pointer;
	position:relative;
	background:url(../assets/bullets2.png) no-Repeat bottom left;
	width:19px;
	height:19px;
	margin-right:0px;
	float:left;
	margin-top:-10px;
}			

.tp-bullets.simplebullets.square .bullet.last {margin-right:0px;}

/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar .bullet {
	cursor:pointer;
	position:relative;
	background:url(../assets/navigdots.png) no-Repeat bottom left;
	width:15px;
	height:15px;
	margin-left:5px !important;
	margin-right:5px !important;
	float:left;
	margin-top:10px;
}		

.tp-bullets.simplebullets.navbar .bullet.first	{margin-left:30px !important;}
.tp-bullets.simplebullets.navbar .bullet.last	{margin-right:30px !important;}

.tp-bullets.simplebullets .bullet:hover, 
.tp-bullets.simplebullets .bullet.selected	{background-position:top left; }




/*************************************
	-	TP ARROWS 	-
**************************************/


.tp-leftarrow	{
	z-index:100;
	cursor:pointer;
	position:relative;
	background:url(../assets/arrow_left.png) no-Repeat top left;
	width:26px;
	height:26px;
	margin-right:0px;
	float:left;
	margin-top:-13px;
}		

.tp-rightarrow	{
	z-index:100;
	cursor:pointer;
	position:relative;
	background:url(../assets/arrow_right.png) no-Repeat top left;
	width:26px;	height:26px; 
	margin-right:0px;
	float:left;	
	margin-top:-13px;
}										

.tp-leftarrow.navbar {
	z-index:100;
	cursor:pointer;
	position:relative;
	background:url(../assets/arrowleft.png) no-Repeat top left;	
	width:9px;
	height:16px; 
	float:left;	
	margin-right:-20px; 
	margin-top:-8px;
}		

.tp-rightarrow.navbar {
	z-index:100;
	cursor:pointer;
	position:relative;
	background:url(../assets/arrowright.png) no-Repeat top left;
	width:9px;
	height:16px;
	float:left;
	margin-left:-20px; 
	margin-top:-8px;
}		

.tp-leftarrow.navbar.thumbswitharrow	{margin-right:10px;}
.tp-rightarrow.navbar.thumbswitharrow	{margin-left:0px;}

.tp-leftarrow.square {
	z-index:100;
	cursor:pointer; 
	position:relative;
	background:url(../assets/arrow_left2.png) no-Repeat top left;
	width:12px;
	height:17px; 
	float:left;
	margin-right:0px;
	margin-top:-9px;
}	

.tp-rightarrow.square {
	z-index:100;
	cursor:pointer;
	position:relative;
	background:url(../assets/arrow_right2.png) no-Repeat top left;
	width:12px;
	height:17px; 
	float:left;
	margin-left:0px;
	margin-top:-9px;
}										

.tp-leftarrow.default,
.tp-rightarrow.default {
	z-index:100;
	cursor: pointer;
	position: relative;
	background-color: rgba(255,255,255,.5);
	background-image: url(../assets/arrow-large.png);
	background-repeat: no-repeat;
	width: 49px;
	height: 49px;
	margin-top: -24px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
		-ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
			transition: all .25s ease-in;
}	

.tp-leftarrow.default {margin-left: 20px;}

.tp-rightarrow.default {
	margin-left: -60px;
	background-position: right top;
}

.ie8 .tp-leftarrow.default,
.ie8 .tp-rightarrow.default {background-color: #fff;}

.tp-leftarrow:hover,
.tp-rightarrow:hover {background-color: rgba(0,0,0,.6);}

.ie8 .tp-leftarrow.default:hover,
.ie8 .tp-rightarrow.default:hover {background-color: #000;}

.tp-leftarrow.default:hover {background-position: left bottom;}
.tp-rightarrow.default:hover {background-position: right bottom;}

.tp-leftarrow, .tp-rightarrow {top: 50%;}


/****************************************************************************************************
	-	TP THUMBS 	-	
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/

.tp-bullets.tp-thumbs	{
	z-index:100; 
	position:absolute;
	padding:0px 2px 2px;
	background-color:#fff;
	width: 500px; height:50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
}

.fullwidthbanner-container {
    max-height: 490px !important;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}										
											
.fullwidthbanner-container .tp-thumbs{ padding:2px;}											

.tp-bullets.tp-thumbs .tp-mask {
	width:500px; 
	height:50px;  
	overflow:hidden;
	position:relative;
}


.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer	{
	width:5000px;
	position:absolute;
}

.tp-bullets.tp-thumbs .bullet	{   
	width:100px; 
	height:50px; 	
	cursor:pointer;
	overflow:hidden;
	background:none;
	margin:0;
	float:left;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;	
}

.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected	{ 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;}	

.tp-thumbs img	{width:100%;}

/************************************
		-	TP BANNER TIMER		-
*************************************/

.tp-bannertimer	{
	width:100%;
	height:10px;
	background:url(../assets/timer.png);
	position:absolute;
	z-index:200;
}
	
/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/	
	
	
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }  
  	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.responsive .tp-bullets.tp-thumbs				{width:300px !important; height:30px !important;}
		.responsive .tp-bullets.tp-thumbs .tp-mask		{width:300px !important; height:30px !important;}
		.responsive .tp-bullets.tp-thumbs .bullet		{width:60px !important;height:30px !important;}
				
	}
   
    @media only screen and (min-width: 0px) and (max-width: 479px) {   
		.responsive .tp-bullets	{display:none}
		.responsive .tparrows	{display:none;}
	}

   
/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

 .tp-simpleresponsive img {
		-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}

.tp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
}			

.tp-simpleresponsive >ul li{
	list-stye:none;			
	position:absolute;
	visibility:hidden;
}
/*  CAPTION SLIDELINK   **/

.caption.slidelink a div {	width:10000px; height:10000px;  }  

.tp-loader 	{
	background: url(../assets/loader.gif) no-repeat 10px 10px;
	background-color:#fff;  
	margin:-22px -22px; 
	top:50%; 
	left:50%; 
	z-index:10000; 
	position:absolute;
	width:44px;
	height:44px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}