html, body, div, h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, table, img, fieldset, label, a { border: 0; margin: 0px; padding: 0px; }
* {padding: 0; margin: 0;}

hr {background:none repeat scroll 0 0 #fff; border: 0 none; color:#48458A; height:1px; line-height:1px; margin:10px 5px;}

a {text-decoration: none; color: #0fa0dd; cursor: pointer;}
a:hover {text-decoration: none; color: #0269B2;}

small {color: #CCC; font-style: italic}

.fRight {float: right;}
.fLeft {float: left;}

h1 { font-size: 22px;} 
h2 { font-size: 20px;}
h3 { font-size: 18px}
h4 { font-size: 16px}
h5 { font-size: 14px}
h6 { font-size: 12px}

.item img {width:100% !important; padding:0px !important;;}

h1, h2, h3, h4, h5, h6 {color: #4F4F4F; margin:10px 10px 10px 10px;}
h4.judul{ margin-top: 10px; background: #ECECEC; padding: 10px 20px; color: #333333; text-transform: uppercase; margin-bottom: 0; font-size:16px;} 
.contentBox {overflow: visible; margin:0 auto; float:left;}
.contentBox > p {margin: 0 0 5px 0;}
.contentBoxAccordion {padding: 0 10px 10px 10px; overflow: hidden;}
.contentBox h3 a, .contentBox h4 a, .contentBox h5 a{color: #8F318E; font-weight: normal; font-size: 12px;}
.contentBox h3 a:hover, .contentBox h4 a:hover, .contentBox h5 a:hover{color: #FFB302; font-weight: normal; } 
.contentBox img {padding: 3px; background: #E5E5E5;}

.sidebar-list a {text-transform:uppercase;}
.sidebar-list li, .order {margin:5px; margin-left:20px;}
.item li {display:block; list-style:none; padding:10px; float:left; margin-right:3px;}
.etalage li, .det_nav ul li, .w_nav li {border-bottom:none !important;}
a.prod_details{width:25px; display:block; float:left; background:url(img/square-blue-add.gif) no-repeat left; padding:0 0 0 20px; margin:7px 0 0 20px;_margin:6px 0 0 35px; text-decoration:none; color:#0fa0dd;
}
a.prod_cart{width:25px; display:block; float:left; background:url(img/cart.gif) no-repeat left; padding:0 0 0 20px; margin:7px 0 0 8px; _margin:6px 0 0 35px; text-decoration:none; color:#0fa0dd; }

.prod_cart_habis{ width:25px; display:block; float:left; background:url(img/cart_hbs.gif) no-repeat left; padding:0 0 0 20px; margin:7px 0 0 8px; _margin:6px 0 0 35px; text-decoration:none; color:red; }

.clearfix {clear:both}

.leftBox { width:600px; float:left; padding:10px; }
.rightBox { width:280px; float:left; border: 1px solid #EBEBEB;}

.checkout table {width:100%;}
.checkout table th{border-top:solid 1px #CCC; background:#575757; color:#FFF; font-size:14px; padding:3px; text-align:left;}
.checkout table tr{border-bottom:solid 1px #CCC;}
.images_3_of_2 {width:35.2%; float: left; margin-right: 2.6%; }
.span_3_of_2 {width:60.3333%; } 
.desc1 {display: block; float: right; }

.det_nav {margin:  6% 0; } 

.det_nav ul{padding:0; list-style:none; } 
.det_nav h4{line-height:1.8em; font-size: 1em; color: #555555; text-transform:uppercase; margin-bottom: 4%; } 
.det_nav ul li{display:inline-block; width: 20.33333%; margin-left: 4%; } 
.det_nav ul li:first-child{margin-left: 0; } 
.det_nav ul li a{display:block; } 
.det_nav ul li a img{border: 1px solid #DADADA !important; }

.det_nav1 h4{font-size: 1em; text-transform:uppercase; color: #555; margin-bottom: 6%; } 
.det_nav1 ul li{display: inline-block; margin-left: 10px; } 
.det_nav1 ul li:first-child{margin-left: 0; }

.item li{border:none !important; max-width:160px;}

.btn_form{margin: 10px; } 
.btn_form a, .btn_form .submit-btn{font-family: 'Open Sans', sans-serif; cursor:pointer; border:none; outline:none; display: inline-block; font-size: 1em; padding: 10px 34px; background: #00405d; color:#fff; text-transform:uppercase; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; } 
.btn_form a:hover, .btn_form .submit-btn:hover {background: #ffcc33; color: #0269B2; text-decoration:none; } 
.desc1  a span{font-size:0.8125em; color:#555555; text-transform:uppercase; text-decoration:underline; } 
.desc1 a span:hover{color: #00405d; text-decoration:none; } 
.det_nav1 h4{font-size: 1em; text-transform:uppercase; color: #555; margin-bottom: 6%; } 
.det_nav1 ul li{display: inline-block; margin-left: 10px; } 
.det_nav1 ul li:first-child{margin-left: 0; }

.single-bottom1 h6, .single-bottom2 h6 {background: #F3F3F3; padding: 10px; color: #333; font-size: 1.2em; } 
.single-bottom1 {padding: 10px 0px; }
.single-bottom2 {margin-bottom: 2em; }
.product-desc {width: 73.3333%; } 
.product {padding: 3% 0 0 0; }
.product-desc {width: 82.3333%; float: left; border-width: 0 1px 0 0; border-right: 1px solid #DDD; }
.product-img {width: 21.5%; float: left; margin-right: 2.5%; }
.prod1-desc {width: 75.2%; float: left; }
.product-desc h5 {padding-bottom: 2%; }
.product-desc h5 a{color:#555; font-size:20px; }
.product-desc h5 a:hover{color:#ffcc33; text-decoration:none; }
p.product_descr {color: #555; font-size: 0.89em; line-height: 1.5em; }
.product_price {float: left; padding: 0 0px 0px 16px; }
.price-access {color: #555; font-size: 1em;}
.button1 {font-family: 'Open Sans', sans-serif; border: none; background:#00405d; padding: 7px 15px; color: #FFF; font-size: 13px; cursor: pointer; outline: none; margin-top: 9%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.button1:hover{background:#ffcc33; color: #000000; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {display: block; max-width: 100%; height: auto; }
.old_price{text-decoration:line-through;text-transform:uppercase}
.new_price{text-transform:uppercase;color:#00405d;font-weight:bold;font-size:1.8em;font-family:Helvetica,Arial,sans-serif}
.price {color:#F37232;}

.push_1 {border: 1px solid #EBEBEB;}
.login_form .login_wrap {margin-top: 26px;} 
.login_row {height: 30px; width: 100%; position: relative; } 
.login_input {margin-bottom: 25px; position: absolute; top: 0; left: 170px; cursor: pointer; }
.login_t_row {display: table; margin-bottom: 15px; } 
.login_t_label {display: table-cell; vertical-align: middle; width: 160px; text-align: right; padding-right: 10px; }
.login_t_input, .login_t_validation {display: table-cell; vertical-align: middle; }
 .login_form .login_input_field{height:28px;padding-left:10px;border-radius:0;box-shadow:none} 
 .login_form .login_input_field:disabled{opacity:.5;background-color:#ccc} 
 .ch-fullname{font-weight:bold;display:block;padding-bottom:3px} 
 .ch-telephone{display:none}
 .login_wrap .btn_form{margin: 0px; } 
.login_wrap .btn_form a, .login_btn, .pesan, .submit-btn {position: relative; left: 170px; top: 5px; margin-bottom:30px;}
.login_wrap .btn_form a, .submit-btn {display:block; width:180px; text-align:center; color:#FFF;}
.login_wrap .radio_check {float: left; width: 15px; }
.login_wrap p {width: 265px; float: left; margin-left: 10px; }
#password-clear {display: none; }
.lostpassword{color: #124e8e; display: block; margin-bottom: 10px; margin-top: -10px; float: right; margin-right: 266px; width: 400px; text-align: right; }
.login_form .login_input_field:disabled{opacity:.5;background-color:#ccc}
.or-divider .loginReg__or{display:inline-block;margin-bottom:-22px;font-size:13px;color:#dcdcdc;line-height:26px;text-transform:uppercase}
.or-divider{float:none;width:272px;margin-left:170px}
.or-divider .inner{border-bottom:1px dotted #b6b6b6;margin:10px 0px;padding:0 123px;display:inline-block;line-height:0}
.error {margin-left:0 !important;}
#content .input {min-width:250px;}
.btn_form a span {color:#FFF;}
.order img {width:40px; height:auto;}
.finish-order {padding:10px; border:solid 1px #ECECEC;}
.finish-order th {padding:10px ; text-transform:capitalize;}
input.quantity {width:40px; height:40px;}
.item li p.short_desc {height:40px;}
.menuCart {float:left; width:75%;}
.menuCart ul {position:relative; display:block; list-style:none;}
.menuCart ul li {float:left; border:none !important; padding:10px 20px !important; display:block !important; width:100px; text-align:center;}
.menuCart ul li.ganjil:hover, .menuCart ul li.genap:hover{background:#E00F27;}
.menuCart ul li.ganjil:hover > a, .menuCart ul li.genap:hover > a {color:#FFFFFF !important;}
.menuCart ul li a{color:brown !important; text-transform: uppercase;}
.menuCart ul li.ganjil { background:#FFCC00;}
/* .menuCart ul li.ganjil:hover{background:#FF9900;} */
.menuCart ul li.genap { background:#FF9900;}
/*.menuCart ul li.genap:hover{background:#FFCC00;} */
.topbox .order {float:right; width:20%; padding:10px; background: #FFF; border:solid 1px #CCCCCC;}
.order .btn {padding:10px;}
.hide {display:none;}

@media only screen and (max-width: 767px) {
	.menuCart {width:100%; float:none !important; clear:both; display:block;}
	.topbox .order {clear:both; width:85%; float:none !important; padding:10px; background: #FFF; border:solid 1px #CCCCCC; margin:20px auto;}
	.desc1 {clear:both; float:none !important; width:100%;}
	.product-desc {width:100%;}
}
