a
{
	cursor:pointer;
}

form
{
	display:inline;
	margin:0px;
	padding:0px;
}

/* LOGO */
#btn_logo1
{
	width:18px;
	position:absolute;
	top:-1px;
	right:-1px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	z-index:0;
}

#btn_logo2
{
	display:none;
	width:18px;
	position:absolute;
	top:-1px;
	right:-1px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:0;
}

#btn_logo3
{
	width:18px;
	position:absolute;
	top:-1px;
	right:18px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:0;
}

#newlogo
{
	position:absolute;
	top:0px;
	right:18px;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	opacity:0;
	z-index:1;
	cursor:pointer;
}


/* HEADER */
#btn_header
{
	position:relative;
	margin:-1px;
	border:1px dotted #DD0000;
}

#btn_header1
{
	position:absolute;
	width:18px;
	top:0px;
	right:0px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_header2
{
	position:absolute;
	width:18px;
	top:0px;
	right:18px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_header3
{
	position:absolute;
	width:18px;
	top:0px;
	right:36px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_header4
{
	position:absolute;
	width:18px;
	top:0px;
	right:54px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_header5_disable
{
	position:absolute;
	width:18px;
	top:0px;
	right:72px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	z-index:10;
}

#btn_header5
{
	display:none;
	position:absolute;
	width:18px;
	top:0px;
	right:72px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_header6
{
	position:absolute;
	width:18px;
	top:0px;
	right:90px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#newheader
{
	position:absolute;
	top:0px;right:90px;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	opacity:0;
	z-index:11;
	cursor:pointer;	
}


/* WIDGET */

#btn_widget1
{
	width:18px;
	position:absolute;
	top:-1px;
	right:-1px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:0;
}

#btn_widget2
{
	width:18px;
	position:absolute;
	top:-1px;
	right:18px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:0;
}



/* CONTENT */
#admcomp
{
	position:relative;	
}

#btn_edit1
{
	width:18px;
	display:none;
	position:absolute;
	top:0px;
	right:0px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_edit1_disable
{
	width:18px;
	position:absolute;
	top:0px;
	right:0px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_edit2
{
	width:18px;
	position:absolute;
	top:0px;
	right:18px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}

#btn_edit3
{
	width:18px;
	display:none;
	position:absolute;
	top:0px;
	right:18px;
	width:18px;
	background:#FFECEC;
	border:1px dotted #DD0000;
	cursor:pointer;
	z-index:10;
}
#editor1
{
	position:relative;
	border:1px dotted #DD0000;
	margin:0px;
	padding:0px;
}

.clear{clear:both;}