html	
{
	overflow: -moz-scrollbars-vertical;
}

body
{
	font-family:verdana;
	font-size:12px;
	background:#F3F3F3;
	height: 100%;
}

td
{
	font-family:verdana;
	font-size:12px;
}

a
{
	cursor:pointer;
}

img
{
	border:0px;
}

form
{
	margin:0px;
	padding:0px;
}